body {
  margin: 0;
  padding: 0;
  background: #dfebf5;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-family: "Union-Bold", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  /* background: #1456fe; */
}

canvas {
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 1;
}

.button {
  /* grid-column-end: span 2; */
  margin-right: 18px;
  cursor: pointer;
  color: white;
  pointer-events: auto;
  /* padding: 15px 36px 9px;
  background: white;
  border: 4px solid; */
  border: 4px solid;
  border-radius: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#interface {
  display: flex;
  justify-content: center;
  position: fixed;
  pointer-events: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 36px;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  color: white;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

header svg {
  width: 100%;
  height: 24.8vw;
}

.top {
  position: absolute;
  top: 12px;
  left: 18px;
  right: 18px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}

.bottom {
  position: absolute;
  bottom: 12px;
  left: 18px;
  right: 18px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 36px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
}

.button--small {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.button--small div {
  height: 60;
  width: 60;
  border-radius: 100%;
}

.button--small svg {
  height: 60px;
  width: 60px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  background: #dfebf5;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  cursor: pointer;
  border: 4px solid;
  border-radius: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.scene-0 .button--active {
  color: #ff3b69;
  border-color: #36de95;
}

.scene-1 .button--active {
  color: #2665ff;
  border-color: #fff546;
}

.scene-2 .button--active {
  color: #f3972f;
  border-color: #23d5d4;
}