@font-face {
  font-family:"memphi";
  font-weight: bold;
  src: url('../font/memphi.eot?#iefix') format('embedded-opentype'), url('../font/memphi.svg') format('svg'), url('../font/memphi.woff') format('woff'), url('../font/memphi.woff2') format('woff2');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, span, div, li, blockquote, pre, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #ffbcbc;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-family: "memphi", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  margin: 0 9px;
  color: white;
  pointer-events: auto;
  border: 4px solid;
  height: 44px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.button--fix .button {
  padding: 4px 0;
}

.scene-0,
.scene-0 #overlay,
.scene-0 .landscape {
  background: #ffbcbc;
}
.scene-0 svg g {
  stroke: #ffbcbc;
}

.scene-1,
.scene-1 #overlay,
.scene-1 .landscape {
  background: #f8d770;
}
.scene-1 svg g {
  stroke: #f8d770;
}

.scene-2,
.scene-2 #overlay,
.scene-2 .landscape {
  background: #9ce1e1;
}
.scene-2 svg g {
  stroke: #9ce1e1;
}

.scene-0 .button--active {
  color: #ff3b69;
  border-color: #36de95;
}

.scene-1 .button--active {
  color: #2665ff;
  border-color: #ff4944;
}

.scene-2 .button--active {
  color: #ab35b2;
  border-color: #f3972f;
}

canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#interface,
footer,
header {
  position: fixed;
  left: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#interface,
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  z-index: 0;
}

#interface {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  pointer-events: auto;
  padding: 18px;
}

footer {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 18px 9px;
  pointer-events: none;
}

header {
  top: 0;
  z-index: -1;
  padding: 12px;
  color: white;
  pointer-events: none;
}

header svg {
  width: 100%;
  height: 24.8vw;
}

.top,
.bottom {
  position: absolute;
  z-index: -1;
  left: 18px;
  right: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.top {
  top: 12px;
}

.bottom {
  bottom: 12px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  margin: auto;
  background: #dfebf5;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 240px;
  margin: 0;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.landscape {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  margin: auto;
  background: #dfebf5;
  display: none;
}

.fuckyou {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 320px;
  margin: 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1080px) {
  body {
    font-size: 24px;
  }
  .button {
    height: 32px;
  }
  .button--fix .button {
    padding: 3px 0;
  }
}

@media only screen and (max-width: 600px) {  
  footer .button {
    width: 50%;
  }
  #interface {
    display: block;
    bottom: 44px;
    padding: 9px 18px;
  }
  #interface .button {
    margin: 6px 0;
  }
  header svg {
    margin: 6px 0;
  }
}

* {
  cursor: crosshair !important;
}