@font-face {
  font-family:"memphi";
  font-weight: bold;
  src: url('../font/memphi.eot?#iefix') format('embedded-opentype'), url('../font/memphi.svg') format('svg'), url('../font/memphi.woff') format('woff'), url('../font/memphi.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  background: #ffbcbc;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-family: "memphi", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.button {
  margin: 0 9px;
  cursor: pointer;
  color: white;
  pointer-events: auto;
  border: 4px solid;
  border-radius: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.scene-0,
.scene-0 #overlay {
  background: #ffbcbc;
}
.scene-0 svg g {
  stroke: #ffbcbc;
}

.scene-1,
.scene-1 #overlay {
  background: #f8d770;
}
.scene-1 svg g {
  stroke: #f8d770;
}

.scene-2,
.scene-2 #overlay {
  background: #9ce1e1;
}
.scene-2 svg g {
  stroke: #9ce1e1;
}

.scene-0 .button--active {
  color: #ff3b69;
  border-color: #36de95;
}

.scene-1 .button--active {
  color: #2665ff;
  border-color: #ff4944;
}

.scene-2 .button--active {
  color: #ab35b2;
  border-color: #f3972f;
}

canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#interface,
footer,
header {
  position: fixed;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#interface,
footer {
  display: flex;
  bottom: 0;
  z-index: 0;
}

#interface {
  justify-content: center;
  pointer-events: auto;
  padding: 18px;
}

footer {
  justify-content: space-between;
  padding: 18px 9px;
  pointer-events: none;
}

header {
  top: 0;
  z-index: -1;
  padding: 12px;
  color: white;
  pointer-events: none;
}

header svg {
  width: 100%;
  height: 24.8vw;
}

.top {
  position: absolute;
  top: 12px;
  left: 18px;
  right: 18px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}

.bottom {
  position: absolute;
  bottom: 12px;
  left: 18px;
  right: 18px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  margin: auto;
  background: #dfebf5;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  header svg {
    margin: 6px 0;
  }
  #interface {
    justify-content: space-between;
    z-index: 2;
  }
  #interface .button {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .scene-0 .button--active {
    color: #ff3b69;
    border-color: #36de95;
  }
  
  .scene-1 .button--active {
    color: #2665ff;
    border-color: #ff4944;
  }
  
  .scene-2 .button--active {
    color: #f3972f;
    border-color: #23d5d4;
    color: #ab35b2;
    border-color: #f3972f;
  }
  
  body {
    font-size: 24px;
  }
  footer .button {
    width: 50%;
  }
  #interface {
    display: block;
    padding: 9px 18px;
  }
  #interface .button {
    margin: 6px 0;
  }
}
